.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(143, 139, 139)
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  height:3rem;
  width:22rem;
  border: none;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}

button{
  height: 3.05rem;
  width:10rem;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border: none;
  background-color:coral;
  color:rgb(26,44,65);
  font-size: 1rem;
}

button:hover{
  background-color: rgb(48, 47, 47);
  color:white;
}

.cityCard{
  background-color:  transparent;
  height: 50%;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10rem;
  border: none;
  COLOR:WHITE;
  /*box-shadow: 0 10px 6px -6px lightcoral;*/
}

.cityCard img{
  margin: 1rem;
  border-radius: 50%;
  border:5px solid transparent;
  transition-duration: 350ms;
}

.cityCard img:hover{
 opacity: 80%;
 border:5px solid red;
 transition-duration: 350ms;
}

.App input{
  margin:3rem 0 3rem 0;
}

.errMsg{
  margin:auto;
  color:white;
}

