
.cityCard{
    background-color:  transparent;
    height: 50%;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: none;
    border: none;
    color:WHITE;
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .cityCard .mapImg{
    width:80%;
    margin: 1rem;
    border-radius: 50%;
    border:5px solid transparent;
    transition-duration: 350ms;
  }
  
  .cityCard .mapImg:hover{
  opacity: 80%;
  border:5px solid red;
  transition-duration: 350ms;
  }

  .placeholder{
    color:transparent;
  }

  .iconA{
    width:10%;
    height:10%;
    margin:none;
  }
  
  