


.movieDiv{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.movieCard{
    width: 100%;
    margin:1rem auto rem auto;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: transparent;
    color: white;
    border: none;
    height:100%;
}

.movieImg{
    margin-bottom:3rem;
    width: 90%;
    transition: 350ms;
    cursor: pointer;
    border-radius: .4em;
    height:100%
}

.movieImg:hover{
    opacity:0.7;
    transform: scale(1.05);
    transition:350ms;
    color:#aaa;
    background: linear-gradient(to bottom, #57B2FF, #0086F8);
    box-shadow: 0px 5px 20px 1px;
}


.movieH1{
    margin:1rem auto 1rem auto;
    color:white;

}