.resDiv{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color:white;
}

.resCard{
    height:80%;
    margin:1rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-content: center;
    align-items: center;
}

.resImg{
    height:100%;
    width:100%;
    transition-duration: 350ms;
}

.resImg:hover{
    opacity:0.7;
    transform: scale(1.01);
    transition-duration:350ms;
    color:#aaa;
    background: linear-gradient(to bottom, #57B2FF, #0086F8);
    box-shadow: 0px 5px 20px 1px;
}

.resH1{
    margin:auto;
    color:white;
}

.rating{
    font-size: 5px;
}

.link{
    text-decoration: none;
    height:80%;
    width:100%;
}

.titleLink{
    text-decoration: none;
}

.resName{
    color:white;
    font-size: 1.5rem;
}

.resName:hover{
    color:lightcoral
}
