input{
    height:3rem;
    width:22rem;
    border: none;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
  }

  @media (max-width:600px){
    input{
      width:15rem;
      margin:none;
      padding:none
    }
    button{
      width:5rem;
      margin:none;
      padding: none;
    }
  }

  
  button{
    height: 3.05rem;
    width:10rem;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    border: none;
    background-color:coral;
    color:rgb(26,44,65);
    font-size: 1rem;
  }
  
  button:hover{
    background-color: rgb(48, 47, 47);
    color:white;
  }
  
  .App input{
    margin:3rem 0 3rem 0;
  }