
.forecastCont{
    width: 30%;
    margin:auto;
    margin-bottom: 10rem;
}

.forecastItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.forecastItem,
.forecastHeader{
    margin:auto;
    background-color: #1A2C41;
    color:white;
}

.forecastHeader{
    margin-right:1rem;
}

/* .accordion-button .collapsed{
    margin:2rem;
} */

.accordion-button{
    background-color: lightcoral;  
    color: white;
}

.weatherType{
    position:center;
}

.weatherDiv{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.weatherH1{
    margin: 1rem auto 1rem auto;
    color:white;
}
