
.forecastCont{
    width: 50%;
    margin:auto;
    margin-bottom: 10rem;
}

.forecastItem,
.forecastHeader{
    margin:auto;
    background-color: #1A2C41;
    color:white;
}

.accordion-button{
    background-color: #494949;  
    color: white;
}

